body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px; 
    
  }
  
  .image-top {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%; 
  }
  
  .image-container {
    position: relative;
    width: 100%; 
    max-width: 500px; 
    height: auto;
    margin-bottom: 2px; 
    margin-top: 20px;
    
  }
  
  
  .meter-image {
    width: 100%; 
    height: auto; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .overlay-text {
    position: absolute;
    font-size: 0.5em;
    color: black;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }
  
  
  #current-display {
    top: 7%;
    left: 61%;
  }
  
  #current1-display {
    top: 7%;
    left: 76%;
  }
  
  #current2-display {
    top: 7%;
    left: 91.5%; /*changed */
  }
  
  #voltage-display {
    top:9%;
    left: 9%;
  }
  
  #voltage-display-bottom {
    bottom: 54%;
    left: 27%;
  }
  
  .bottom-panels {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 15px;
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
  }
  
  .calculation-panel, .results-panel {
    flex: 1; 
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .calculation-panel label {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .calculation-panel input {
    padding: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .calculation-panel button {
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculation-panel button:hover {
    background-color: #0056b3;
  }
  
  .results-panel {
    padding: 15px;
  }
  
  #overload-strip {
    width: 100%;
    height: 10px;
    background-color: lightgreen;
  }
  
  #overload-strip.overloaded {
    background-color: red;
  }
  
  @media (max-width: 768px) {
    .overlay-text {
      font-size: 0.3em; /* Scale text size for smaller screens */
    }
  
    .main-container {
      max-width: 90%; /* responsiveness on smaller screens */
    }
  }